# === BLPS-specific ignores ===
/BLPS/HELP.md
/BLPS/target/
/BLPS/.mvn/wrapper/maven-wrapper.jar
!/BLPS/**/src/main/**/target/
/!BLPS/**/src/test/**/target/
*.lck
*.log

# === STS (Spring Tool Suite) ===
/BLPS/.apt_generated
/BLPS/.classpath
/BLPS/.factorypath
/BLPS/.project
/BLPS/.settings
/BLPS/.springBeans
/BLPS/.sts4-cache

# === IntelliJ IDEA ===
/BLPS/.idea
/BLPS/*.iws
/BLPS/*.iml
/BLPS/*.ipr
/BLPS/out/

# === NetBeans ===
/BLPS/nbproject/private/
/BLPS/nbbuild/
/BLPS/dist/
/BLPS/nbdist/
/BLPS/.nb-gradle/
/BLPS/build/
!/BLPS/**/src/main/**/build/
/!BLPS/**/src/test/**/build/

# === VS Code ===
/BLPS/.vscode/

# === consumer-service ===
/consumer-service/.idea
/consumer-service/target/

# === general ===
camunda-bpm-wildfly-7.24.0-alpha1.zip
camunda-bpm-wildfly-7.24.0-alpha1/
camunda-modeler-5.35.0-win-x64/